.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.header-principal-fixo{
    background-color: black;
}

.header-principal--area-navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.header-principal--logo{
    width: 115px;
    margin-right: 50px;
}

.header-principal--logo img{
    width: 100%;
}

.header-principal--area-infos{
    display: flex;
    font-size: 0.9em;
    position: relative;
    width: 200px;
    justify-content: flex-end;
    align-items: center;
}

.header-principal--perfil-ativo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5em;
    cursor: pointer;
}

.header-principal--avatar-perfil{
    width: 33px;
}

.header-principal--avatar-perfil img{
    width: 100%;
    border-radius: 5px;
}

.header-principal--btn-expandir{
    transition: all ease .3s;
}

.header-principal--perfil-ativo:hover .header-principal--btn-expandir{
    transform: rotate(-180deg);
}

.header-principal--area-config{
    background-color: rgba(0, 0, 0, .8);
    padding-top: 10px;
    margin-top: -15px;
}

.header-principal--config{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    margin-top: 25px;
    height: 0px;
    overflow: hidden;
    transition: all ease .5s;
}

.header-principal--perfil-inativo{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.header-principal--perfil-inativo:hover{
    text-decoration: underline;
}

.header-principal--config .header-principal--avatar-perfil{
    width: 30px;
    margin-right: 6px;
}

.header-principal--gerenciar-perfil{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.header-principal--gerenciar-perfil:hover{
    text-decoration: underline;
}

.header-principal--btn-gerenciar{
    margin-right: 15px;
    font-size: 1.4em;
}

@media screen and (max-width: 768px){
    .header-principal--logo{
        width: 90px;
        margin-right: 40px;
    }
}