.destaque{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    background-color: linear-gradient(to right, black , red);
}

.destaque--titulo{
    margin-bottom: 15px;
    font-size: 2.5em;
    font-weight: 700;
    display: inline-block;
    width: 500px;
}

.destaque--area-info{
    font-size: 1.2em;
}

.destaque--nota{
    color: green;
}

